:root {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    background: #fff;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    margin: 8.4rem 0 2.4rem;
}
.container header img {
    height: 6rem;
    width: 6rem;

    margin-inline: .7rem;
    border-radius: 50%;
}

.container header div {
    display: flex;
    align-items: center;
}

.container input {
    width: 50%;
    border-radius: .5rem;
    border: none;
    background-color: rgb(235, 235, 235);

    padding: 2.4rem;
}

.container button {
    width: 50%;
    border: none;
    border-radius: .5rem;

    padding: 2.4rem;
    margin-bottom: 8.4rem;

    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    
    background-color: #fa72a8;

    cursor: pointer;

    transition: background-color .2s;
}

.container button:hover {
    background-color: #ff4f96;
}